:root {
  --blue: #5e7a85;
  --red: #a13b2d;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.3rem;
}

#map {
  margin: 0 auto;
  width: 100%;
}

article {
  padding: 4em 10px;
  box-sizing: border-box;
}

#title {
  margin-bottom: 3em;
}

h1, h2, h3 {
  padding: 0;
  margin: 0.25em 0;
  /*text-shadow: 0 0 5px #0006;*/
  color: var(--red);
}

p, ul, .figure {
  margin: 0;
  line-height: 2rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  color: white;
}

.abstract {
  color:var(--red);
  font-style: italic;
}

blockquote {
  color: var(--blue);
  font-style: italic;
}

table {
  width: 100%;
  margin-bottom: 1.4rem;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
}

th {
  vertical-align: top;
  font-weight: normal;
  font-style: italic;
}

tr:nth-child(even) {
  background-color: #86adbd;
}

.box-contents > *:last-child {
  margin: 0;
}

.box {
  padding: 1em;
  margin: 1em 0;
  background-color: var(--blue);

  /*box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);*/
  /*border-radius: 3px;*/

  border-radius: 4px;
  /*box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);*/
}

figcaption {
  text-align: center;
}

@media (max-width: 750px) {
  section {
    padding: 5px;
  }

  figure {
    margin: 0;
  }

  .box {
    padding: 10px;
  }

  #projects li {
    width: 100%;
  }
}

h1 {
  font-size: 500%;
  line-height: 1.5;
  padding-bottom: 0.3em;
  background-size: 120px;
}

h2 {
  font-size: 300%;
}

.sticky {
  top: 10px;
  padding: 20px;
  position: sticky;
}

.title-container {
  padding-bottom: 1.4em;
}

.centered {
  text-align: center;
}

.box, .title-container {
  max-width: 650px;
}

#projects li.project:nth-child(even) {
  float: left;
}

#projects li.project:nth-child(odd) {
  float: right;
}

body, .box a, .box a:visited {
  color: white;
}

section a, section a:visited, .link {
  text-decoration: none;
  border-color: white;
  border-width: 3px;
  border-bottom-style: solid;
}

figure img,
.box-contents img {
  width: 100%;
}

.figure a, .figure a:visited {
  text-decoration: none;
  color: white;
}

header, main, footer {
  position: relative;
  pointer-events: none;
}

.box, .pointer-events {
  pointer-events: all;
}

#table-of-contents {
  columns: 2;
  padding: 0;
}

@media (max-width: 500px) {
  #table-of-contents {
    columns: 1;
  }
}

#table-of-contents li {
  margin-left: 2em;
  margin-bottom: 10px;
}

#projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#projects li {
  clear: both;
}

.page {
  width: 100%;
  min-height: 190vh;
  position: relative;
  clear: both;
}

.project {
  box-sizing: border-box;
}

#map-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#map {
  height: 100vh;
}

.page-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-controls > * {
  margin-top: 10px;
}

.page-controls > *:first-child {
  margin-right: 10px;
}

.page-controls > *:last-child {
  margin-left: 10px;
}

.page-controls a {
  border: none;
}

.page-controls li {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #21acf9;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  top: calc(-1em - 15px);
  left: calc(-1em - 15px);
  margin-right: 1em;
}

.indent {
  margin-left: 2em;
}

.mapboxgl-ctrl-group > button.mapboxgl-ctrl-compass {
  display: none;
}

.mapboxgl-popup-content {
  padding: 1em;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (max-width: 750px) {
  h1 {
    font-size: 250%;
    background-size: 80px;
    line-height: 1.8;
  }

  h2 {
    font-size: 200%;
    background-size: 65px;
    line-height: 1.8;
  }

  .indent {
    margin-left: 0;
  }
}

