---
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset='utf-8' />
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@allmaps/annotation/dist/annotation.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@allmaps/transform/dist/transform.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@allmaps/layers/dist/layers.umd.min.js"></script>

  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  {% include components/project.html %}
  <div id="map-container">
    <div id="map" class="zoom-controls-bottom-right"></div>
  </div>
  <article>
    <header>
      <div class="page trigger" data-trigger-event="show-overview">
        <div id="title" class="sticky">
          <h1 class="pointer-events">
            {{ site.title }}
          </h1>
          <div class="arrow bounce">
            ↓
          </div>
        </div>
      </div>
      <section class="box">
        <div class="box-contents">
          {% include header.html %}
        </div>
      </section>
      <div class="page">
      </div>
    </header>
    <main>
      <ol id="projects">
        {% for project_id in site.data.projects %}
          {% include project.html project_id=project_id %}
        {% endfor %}
      </ol>
    </main>
    <footer>
      <div class="page trigger" data-trigger-event="show-overview"></div>
      <section class="box">
        <div class="box-contents">
          {% include footer.html %}
        </div>
      </section>
    </footer>
  </article>
  <script>
    const tileUrl = '{{ site.tile_url }}'
  </script>
  <script src="js/script.js"></script>
</body>
</html>
