<p>
  <i>Inhoudsopgave:</i>
</p>
{% include toc.html id="toc" %}
<p>
  <i>Credits:</i>
</p>
<p>
  Teksten: &#169; Willem van der Ham
</p>
<p>
  Foto's: TU Delft Library, Trésor. <a href="{{ site.viewer_base_url }}{{ site.manifest_base_url }}tresor-collection.json">Bekijk hier alle foto's</a> (klik links op 'Index' om een andere map te openen).
<p>
  Deze website is ontwikkeld door <a href="https://bertspaan.nl">Bert Spaan</a> in samenwerking met Jules Schoonman (<a href="https://erfgoed.tudelft.nl/">TU Delft Library</a>). Historische kaarten worden getoond met behulp van de recent ontwikkelde software <a href="https://allmaps.org">Allmaps</a>.
</p>
<p>
  De broncode van deze site is beschikbaar <a href="https://github.com/allmaps/reuzenarbeid">op GitHub</a>.
</p>