<figure>
  <img src="https://allmaps.org/reuzenarbeid/images/cover.jpg"
    alt="Cover van Reuzenarbeid" />
  <figcaption>
    <i>Cover van Reuzenarbeid</i>
  </figcaption>
</figure>
<p>
  Het boek <i>Reuzenarbeid</i> brengt op unieke wijze de geschiedenis van de bouw van het moderne Nederland in de periode 1861 – 1918 in beeld. Door grote investeringen in waterbouw en infrastructuur brak een periode van economische bloei aan. Nederland werd klaar gemaakt voor een nieuwe tijd.
</p>
<p>
  Overal in het land gonsde het van de bouwactiviteiten en kwamen nieuwe kanalen, spoorwegen, sluizen en bruggen tot stand. De aanleg van het Noordzeekanaal verbond Amsterdam rechtstreeks met de zee. Ook Rotterdam kreeg een Nieuwe Waterweg. In Nederland lag ’s-wereld grootste sluis en Europa’s grootste spoorbrug. Er werd ‘reuzenarbeid’ verricht. De Nederlandse aannemerij werd een volwassen bedrijfstak.
</p>
<p>
  Op het moment dat de fotografie nog in de kinderschoenen stond, nam de minister het besluit de bouw van rijks openbare werken vast te leggen. De beste fotografen van die tijd werden ingeschakeld. Historicus en geograaf Willem van der Ham heeft deze bijzondere collectie foto’s uit de vergetelheid gehaald.
</p>
<p>
  Deze website, ontwikkeld in samenwerking met de TU Delft, toont een selectie van gedigitaliseerde foto's, historische kaarten en teksten uit <i>Reuzenarbeid</i>.
</p>
<p>
  Scroll naar beneden of bekijk de <a href="#toc"><span class="link">Inhoudsopgave</span></a>.
</p>