<div class="figure">
  <a target="_blank" href="{{ site.viewerBaseUrl }}{% if include.idno %}{{ site.ManifestBaseUrl }}{{ include.idno }}&cv={{ include.canvas }}{% else %}{{ include.manifest }}{% endif %}">
    <figure>
      <img src="{% if include.uuid %}{{ site.ImageBaseUrl }}{{ include.uuid }}{% else %}{{ include.uri }}{% endif %}/{{ include.region }}/1140,/0/default.jpg"
        alt="{{ include.caption }}" />
      <figcaption>
        <i>{{ include.caption }}</i>
      </figcaption>
    </figure>
  </a>
</div>
