<div class="figure">
  <a target="_blank" href="{{ site.viewer_base_url }}{% if include.idno %}{{ site.manifest_base_url }}tresor/{{ include.idno }}.json#?cv={{ include.canvas }}{% else %}{{ include.manifest }}{% endif %}">
    <figure>
      <img src="{% if include.uuid %}{{ site.image_base_url }}{{ include.uuid }}{% else %}{{ include.uri }}{% endif %}/{{ include.region }}/1140,/0/default.jpg"
        alt="{{ include.caption }}" />
      <figcaption>
        <i>{{ include.caption }}</i>
      </figcaption>
    </figure>
  </a>
</div>
