{% assign path = '/projects/' | append: project_id %}
{% assign project = site.projects | where:'id', path | first %}
<li class="project">
  <project-component
    data-project-id="{{ project_id }}"
    data-annotation-id="{{ project.allmaps.annotationId }}"
    data-animate-to-map-bounds="{{ project.allmaps.animateToMapBounds }}">
    <a slot="header" name="{{ project_id }}" id="{{ project_id }}">
      {{ project.title }}
    </a>
    <span class="abstract">{{ project.abstract | markdownify }}</span>
    {{ project.content }}
    <span slot="map" >
      <span class="map-title">{{ project.allmaps.title }}</span>
      <div class="page-controls">
        <a href="{{ project.allmaps.sourceUrl }}"><span class="link">Bekijk origineel</span></a>
        <a href="{{ site.allmaps_viewer_base }}{{ site.allmaps_api_base }}{{ project.allmaps.annotationId }}"><span class="link">Open in Allmaps</span></a>
      </div>
    </span>
  </project-component>
</li>