<script>
  class Project extends HTMLElement {
    constructor() {
      super()

      let template = document.getElementById('project-template')
      let templateContent = template.content

      const shadowRoot = this.attachShadow({ mode: 'open' })
        .appendChild(templateContent.cloneNode(true))
    }

    handleIntersect (entries, observer) {
      entries.forEach((entry) => {
        if (entry.intersectionRatio > 0) {
          const eventName = entry.target.dataset.triggerEvent

          const event = new CustomEvent(eventName, {
            bubbles: true,
            cancelable: false,
            detail: {
              annotationId: this.annotationId,
              projectId: this.projectId,
              animateToMapBounds: this.animateToMapBounds
            }
          })

          this.dispatchEvent(event)
        }
      })
    }

    connectedCallback () {
      this.projectId = this.shadowRoot.host.dataset.projectId
      this.annotationId = this.shadowRoot.host.dataset.annotationId
      this.animateToMapBounds = !(this.shadowRoot.host.dataset.animateToMapBounds === 'false')

      const observer = new IntersectionObserver(this.handleIntersect.bind(this))

      const triggers = this.shadowRoot.querySelectorAll('.trigger')
      triggers.forEach((trigger) => observer.observe(trigger))
    }
  }

  customElements.define('project-component', Project)
</script>

<template id="project-template">
  <style>
    @import "css/style.css";
  </style>

  <div>
    <div class="page trigger" data-trigger-event="project-show-geojson">
      <div class="sticky">
        <div class="title-container">
          <h2 class="pointer-events">
            <slot name="header">
            </slot>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <section class="box">
    <div class="box-contents">
      <slot></slot>
    </div>
    <div class="page-controls">
      <a href="#"><span>⟵ </span><span class="link">Terug naar begin</span></a>
      <a href="#toc"><span class="link">Inhoudsopgave</span><span> ⟶</span></a>
    </div>
  </section>
  <div class="page trigger" data-trigger-event="project-show-map">
    <div class="box sticky">
      <div class="box-contents">
        <slot name="map">
        </slot>
      </div>
    </div>
  </div>
  <div class="page"></div>
</template>
